pip==18.1
bumpversion==0.5.3
wheel==0.32.1
watchdog==0.9.0
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
twine==1.12.1
sshtunnel>=0.1.4
keyring>=18.0.0
paramiko>=2.4.0
cryptography==2.4.2
prompt_toolkit>=2.0.5
toml>=0.10.0
fire>=0.1.3
